{% for vrf in vrfs %}
{% for handoff in vrf.handoffs %}
vlan {{ handoff.handoff_vlan }}
!

{% endfor %}
{% endfor %}

{% for vrf in vrfs %}
{% for handoff in vrf.handoffs %}
interface Vlan{{ handoff.handoff_vlan }}
 description handoff to fusion
 vrf forwarding {{ vrf.vrf }}
 ip address {{ handoff.handoff_ip_address | ansible.utils.ipaddr('address') }} {{ handoff.handoff_ip_address | ansible.utils.ipaddr('netmask') }}
 no ip redirects
 ip route-cache same-interface

{% endfor %}
{% endfor %}

router bgp {{ border_bgp_as }}
 bgp router-id interface Loopback0
 bgp log-neighbor-changes
 bgp graceful-restart
 !

{% for vrf in vrfs %}
  address-family ipv4 vrf {{ vrf.vrf }}
   bgp aggregate-timer 0
{% for handoff in vrf.handoffs %}
   network {{ handoff.handoff_ip_address |  ansible.utils.ipaddr('network')  }} mask {{ handoff.handoff_ip_address |  ansible.utils.ipaddr('netmask')  }}
{% endfor %}
{% for instance_id, instance in l3_instances.items() %}
{% if instance.vrf == vrf.vrf %}
{% for network in instance.l2 %}
   network {{ network.gateway }} mask 255.255.255.255 
   aggregate-address {{ network.network_prefix | ansible.utils.ipaddr('network') }} {{ network.network_prefix | ansible.utils.ipaddr('netmask') }}  summary-only
{% endfor %}
{% endif %}
{% endfor %}
   redistribute lisp metric 10 route-map LISP_TO_BGP
{% set fusion_vrfs = fusions_vrfs | flatten_vrfs %}
{% for f_vrf, handoffs in fusion_vrfs.items() %}
{%- if f_vrf == vrf.vrf -%}
{% for handoff in handoffs %}
{%- set ipaddress = handoff.handoff_ip_address | ansible.utils.ipaddr('address') -%} 
{% if handoff.remote_device == inventory_hostname %}
   neighbor {{ ipaddress }} remote-as {{ fusion_bgp_as }}
   neighbor {{ ipaddress }} update-source Vlan {{ handoff.handoff_vlan }}
   neighbor {{ ipaddress }} activate
   neighbor {{ ipaddress }} send-community both
   neighbor {{ ipaddress }} weight 65535
{% endif %}
{% endfor %}
  exit-address-family
{% endif %}
{% endfor %}

{% endfor %}
  !
!

route-map LISP_TO_BGP permit 10
 description AS-number tag
 set as-path tag

