{% if interfaces is defined %}
{% for interface in interfaces %}
{% if  "-" in  interface.interface %}
interface range {{ interface.interface }}
  switchport access vlan {{ interface.vlan }}
  switchport mode access
  spanning-tree portfast

{%  else %}
interface {{ interface.interface }}
  switchport access vlan {{ interface.vlan }}
  switchport mode access
  spanning-tree portfast

{% endif %}
{% endfor %}
{% endif %}
