{% for instance_id, instance in l3_instances.items() %}
vrf definition {{ instance.vrf }}
 rd 1:{{ instance_id }}
 !
 address-family ipv4
  import ipv4 unicast map global
  export ipv4 unicast map {{ instance.vrf }}
  route-target export 1:{{ instance_id }}
  route-target import 1:{{ instance_id }}
 exit-address-family
!

{% endfor %}

{% for instance_id, instance in l3_instances.items() %}
{% for l2_instance in instance.l2 %}
ip prefix-list {{ instance.vrf }} seq 10 permit {{ l2_instance.network_prefix }} le 32
{% endfor %}
{% endfor %}


{% for instance_id, instance in l3_instances.items() %}
route-map {{ instance.vrf}} permit 10
 match ip address prefix-list {{ instance.vrf }}
route-map {{ instance.vrf }} deny 20

{% endfor %}

ip prefix-list global seq 10 permit 0.0.0.0/1 ge 2 le 32

route-map global permit 10
 match ip address prefix-list global

{% if type == "switch" %}
{% for fusion_vrf in vrfs %}
{% for fusion_vrf_handoff in fusion_vrf.handoffs %}
interface Vlan{{  fusion_vrf_handoff.handoff_vlan }}
 description handoff to Border
 vrf forwarding {{ fusion_vrf.vrf }}
 ip address {{ fusion_vrf_handoff.handoff_ip_address | ansible.utils.ipaddr('address') }} {{ fusion_vrf_handoff.handoff_ip_address | ansible.utils.ipaddr('netmask') }}
 no ip redirects
 ip route-cache same-interface

{% endfor %}
{% endfor %}
{% endif %}



{% if type == "router" %}
{% for fusion_vrf in vrfs %}
{% for fusion_vrf_handoff in fusion_vrf.handoffs %}
interface {{ fusion_vrf_handoff.handoff_interface }}.{{ fusion_vrf_handoff.handoff_vlan }}
 description handoff to Border
 encapsulation dot1q {{ fusion_vrf_handoff.handoff_vlan }}
 vrf forwarding {{ fusion_vrf.vrf }}
 ip address {{ fusion_vrf_handoff.handoff_ip_address | ansible.utils.ipaddr('address') }} {{ fusion_vrf_handoff.handoff_ip_address | ansible.utils.ipaddr('netmask') }}
 no ip redirects
 ip route-cache same-interface

{% endfor %}
{% endfor %}
{% endif %}

router bgp {{ fusion_bgp_as }}
 bgp router-id interface Loopback0
 bgp log-neighbor-changes
 bgp graceful-restart
 !

{% set border_vrfs = borders_vrfs | flatten_vrfs %}
{% for vrf, handoffs in border_vrfs.items() %}
 address-family ipv4 vrf {{ vrf }}
{% for handoff in handoffs %}
{% if handoff.remote_device == inventory_hostname %}
{% set handoff_ip_remote = handoff.handoff_ip_address | ansible.utils.ipaddr('address')  %}
  neighbor {{ handoff_ip_remote }} remote-as {{ border_bgp_as }}
  neighbor {{ handoff_ip_remote }} update-source Vlan{{ handoff.handoff_vlan }}
  neighbor {{ handoff_ip_remote }} activate
  neighbor {{ handoff_ip_remote }} default-originate
{% endif %}
{% endfor %}
 exit-address-family

{% endfor %}

{% if type == "switch" %}
{% for fusion_vrf in vrfs %}
{% for fusion_vrf_handoff in fusion_vrf.handoffs %}
interface {{ fusion_vrf_handoff.handoff_interface }}
 switchport mode trunk

{% endfor %}
{% endfor %}
{% endif %}

{% for instance_id, instance in l3_instances.items() %}
{% for l2_instance in instance.l2 %}
ip dhcp excluded-address vrf {{ instance.vrf  }} {{ l2_instance.network_prefix | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(dhcp_excluded_lower) | regex_replace('\/\d+',' ')  }} {{ l2_instance.network_prefix | ansible.utils.ipaddr('net') | ansible.utils.ipaddr(dhcp_excluded_upper) | regex_replace('\/\d+',' ')  }}
{% endfor %}
{% endfor %}


{% for instance_id, instance in l3_instances.items() %}
{% for l2_instance in instance.l2 %}
ip dhcp pool {{ instance.vrf  }}
 vrf {{ instance.vrf  }}
 network {{ l2_instance.network_prefix | ansible.utils.ipaddr('net') | ansible.utils.ipaddr('0') | regex_replace('\/\d+',' ')  }} {{ l2_instance.network_prefix | ansible.utils.ipaddr('netmask')  }}
 default-router {{ l2_instance.gateway  }}

{% endfor %}
{% endfor %}


ip dhcp use vrf remote
